This will not run in isolation. I've cut the last cells out of the [demo.ipynb noteboook](https://github.com/opendp/dp-creator-ii/pull/48), and pasted them here, so the question of output formats can be considered separately.

In [20]:
release = {
    'inputs': {
        'csv_path': csv_path,
        'contributions': contributions,
        'epsilon': epsilon,
        'weights': weights,
        'max_possible_rows': max_possible_rows,
        'delta': delta,
        'grade': {
            'min': grade_min,
            'max': grade_max,
            'bins_count': grade_bins_count,
        },
        'class_year': {
            'min': class_year_min,
            'max': class_year_max,
            'bins_count': class_year_bins_count,
        }    
    },
    'outputs': {
        'grade': {
            'mean': grade_mean.item(),
            'histogram': {v['grade_bin']: v['len'] for v in grade_histogram.to_dicts()}
        },
        'class_year': {
            'mean': class_year_mean.item(),
            'histogram': {v['class_year_bin']: v['len'] for v in class_year_histogram.to_dicts()}
        },
    }
}
release

{'inputs': {'csv_path': '/tmp/demo.csv',
  'contributions': 10,
  'epsilon': 2,
  'weights': [4, 4, 1, 1],
  'max_possible_rows': 1000000,
  'delta': 1e-07,
  'grade': {'min': 50, 'max': 100, 'bins_count': 10},
  'class_year': {'min': 1, 'max': 4, 'bins_count': 4}},
 'outputs': {'grade': {'mean': 84.25140291806959,
   'histogram': {'(55, 60]': 24,
    '(60, 65]': 0,
    '(65, 70]': 28,
    '(70, 75]': 181,
    '(75, 80]': 227,
    '(80, 85]': 248,
    '(85, 90]': 204,
    '(90, 95]': 110,
    '(95, inf]': 0}},
  'class_year': {'mean': 1.8125701459034793,
   'histogram': {'(-inf, 1]': 420,
    '(1, 2]': 311,
    '(2, 3]': 80,
    '(3, inf]': 47}}}}

### Text export?

Just use YAML, unless there are other requirements?

In [21]:
import yaml

print(yaml.dump(release))

inputs:
  class_year:
    bins_count: 4
    max: 4
    min: 1
  contributions: 10
  csv_path: /tmp/demo.csv
  delta: 1.0e-07
  epsilon: 2
  grade:
    bins_count: 10
    max: 100
    min: 50
  max_possible_rows: 1000000
  weights:
  - 4
  - 4
  - 1
  - 1
outputs:
  class_year:
    histogram:
      (-inf, 1]: 420
      (1, 2]: 311
      (2, 3]: 80
      (3, inf]: 47
    mean: 1.8125701459034793
  grade:
    histogram:
      (55, 60]: 24
      (60, 65]: 0
      (65, 70]: 28
      (70, 75]: 181
      (75, 80]: 227
      (80, 85]: 248
      (85, 90]: 204
      (90, 95]: 110
      (95, inf]: 0
    mean: 84.25140291806959

### CSV export?

Flatten the data stucture to key value pairs and make a two-column CSV unless there are other requirements?

In [22]:
from pandas import json_normalize

json_normalize(release).transpose()

                                                    0
inputs.csv_path                         /tmp/demo.csv
inputs.contributions                               10
inputs.epsilon                                      2
inputs.weights                           [4, 4, 1, 1]
inputs.max_possible_rows                      1000000
inputs.delta                                      0.0
inputs.grade.min                                   50
inputs.grade.max                                  100
inputs.grade.bins_count                            10
inputs.class_year.min                               1
inputs.class_year.max                               4
inputs.class_year.bins_count                        4
outputs.grade.mean                          84.251403
outputs.grade.histogram.(55, 60]                   24
outputs.grade.histogram.(60, 65]                    0
outputs.grade.histogram.(65, 70]                   28
outputs.grade.histogram.(70, 75]                  181
outputs.grade.histogram.(75, 80]                  227
outputs.grade.histogram.(80, 85]                  248
outputs.grade.histogram.(85, 90]                  204
outputs.grade.histogram.(90, 95]                  110
outputs.grade.histogram.(95, inf]                   0
outputs.class_year.mean                       1.81257
outputs.class_year.histogram.(-inf, 1]            420
outputs.class_year.histogram.(1, 2]               311
outputs.class_year.histogram.(2, 3]                80
outputs.class_year.histogram.(3, inf]              47